EsoneroTCP_Client/.settings/language.settings.xml
EsoneroTCP_Client/Debug/EsoneroTCP_Client.exe
EsoneroTCP_Client/Debug/src/EsoneroTCP_Client.o
EsoneroTCP_Server/.settings/language.settings.xml
EsoneroTCP_Server/Debug/EsoneroTCP_Server.exe
EsoneroTCP_Server/Debug/src/EsoneroTCP_Server.o
.project
